<% layout('layouts/main') %>
<% title = 'Login' %>

<h2>Login to OKR App</h2>
<form action="/<%= orgName %>/auth/login" method="POST">
  <div class="mb-3">
    <label>Email:</label>
    <input type="email" class="form-control" name="email" required>
  </div>
  <div class="mb-3">
    <label>Password:</label>
    <input type="password" class="form-control" name="password" required>
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
</form>